body{
  background-color: white;
  font-family: Roboto, Arial;
}


[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {

[class*="col-"] {
  float: left;
  padding: 15px;
}
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.header {
  position: relative;
  text-align: center;
}

#header-h1{
  position: absolute;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  height: 350px;
  width: 100%;
  opacity: 90%;
}


li{
  padding: 5px;
}

.col-2 {
  background-color: AliceBlue;
  min-height: 600px;
}

.col-4 {
  background-color: Azure;
  min-height: 600px;
}

.col-5 {
  background-color: Azure;
  min-height: 600px;
}

.image-activity {
  width: 40%;
  float: right;
  margin-left: 15px;
}

.footer {
  background-color: GhostWhite;
  height: 80px;
}
